# msvc artifacts
build/*
out/*
.vs/*

# cmake artifacts
CMakeCache.txt
CMakeSettings.json
Makefile
cmake_install.cmake
CMakeFiles/

# app artifacts
app
binaryhammer.log
config.json
imgui.ini
bh_settings.dat
bh_onboarded.ver

# vcpkg
vcpkg-manifest-install.log
vcpkg_installed/

