# msvc artifacts
build/*
build-static/*
out/*
.vs/*

# cmake artifacts
CMakeCache.txt
CMakeSettings.json
Makefile
cmake_install.cmake
CMakeFiles/

# app artifacts
app
binaryhammer.log
config.json
imgui.ini
bh_settings.dat
bh_onboarded.ver
bh_api_keys.dat
bh_layout.ver
build_log.txt
*.obj
dist/

# vcpkg
vcpkg-manifest-install.log
vcpkg_installed/

